<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
</head>
<body>
    <h1 align="center"> New Programming Blog </h1>
    <hr>
    <ul>
        <li><a href="#"> HOME </a> | </li>
        <li><a href="#"> My Posts </a> | </li>
        <li><a href="#"> About Me </a> | </li>

        <li style="float:right"> <a href="#" > REGISTER </a></li>
        <li style="float:right"> <a href="#"> LOGIN </a>|</li>
    </ul>
    <hr>

    {% block content %}

    {% endblock %}
</body>
</html>